.nj-zone-container, .nj-district-container, .nj-vdc-container > path {
    fill: #ccc;
}

.nj-svg-title {
    text-anchor: middle;
    font-size: 16px;
}

.nj-legend-rect {
    fill-opacity: 0.8;
    stroke: #000;
    stroke-width: 0.125px;
}

.nj-legend-text {
    font-size: 11px;
}

.nj-legend-title {
    font-size: 13px;
}

.nj-tooltip {
    position: absolute;
    text-align: left;
    border: 1px solid black;
    opacity: 0.9;
    padding: 4px;
    font: 12px sans-serif;
    background: white;
    border-radius: 4px;
    pointer-events: none;
}

.nj-zone-bubble, .nj-district-bubble, .nj-vdc-bubble {
    fill: brown;
    fill-opacity: 0.5;
    stroke: #fff;
}

.nj-zone-bubble, .nj-district-bubble, .nj-vdc-bubble:hover {
    fill-opacity: 1;
    position: relative;
}

.nj-legend-circle {
    fill: none;
    stroke: #aaa;
}

.nj-legend-circle-text {
    text-anchor: middle;
    font-size: 11px;
}

.nj-nav-button {
    margin: 0;
    width: 25px;
    width: 25px;
}

.nj-legend-box {
    fill: #eee;
    fill-opacity: 0.8;
}

.nj-download-option {
     position: absolute;
     text-align: left;
     border: 1px solid black;
     opacity: 0.9;
     padding: 4px;
     font: 12px sans-serif;
     background: white;
     border-radius: 4px;
 }

.nj-devregion-boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
}

.nj-zone-boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
}

.nj-district-boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
}

.nj-vdc-boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
}

.nj-map-progress-meter .background {
    fill: #ccc;
}

.nj-map-progress-meter .foreground {
    fill: #000;
}

.nj-map-progress-meter text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
